

<% @photos.each  do |photo| %>
      <div class="wrapper">
      <h2>WELCOME TO OUR</h2>
        <h1>NIGHTMARE!</h1>
         <nav>
        <a href="/">===> SCREAM! <===</a>
        <!-- <a href="/photos/new">new photo</a> -->
      </nav>
  <img src=<%= photo %>/>
  <hr>
<% end %>




